

   
        <html>
          <body bgcolor="#b46c9d">
 
            <nav>
    
    
    
    
              <ul>
                <li>
                  <div class="dropdown">
                   <button class="btn" id="icon" ><i class="fa fa-bars"></i></button>
                      <div class="dropdown-content">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                      </div>
                    </div>
                  
        
                </li>
                
                
                
                
                
                
                <li><div class="dropdown">
        
                <button class="dropbtn" >Home</button>
                  <div class="dropdown-content">
                    <a href="#">Open</a>
                    <a href="#">Close</a>
                    <a href="#">Save</a>
                  </div>
                </div></li>
                &nbsp;<li><a href="#">About</a></li>
                &nbsp;<li><a href="#">Contact</a></li>
                &nbsp;<li><a href="#">Service</a></li>
                &nbsp;<li><a href="#">Feedback</a></li>&nbsp;
        
           
             <li><a  class ="active" href=" " id="demo1" click="onclick()">Click Me</a></li>


             <li><div class="dropdown"><button class="dropbtn" (click)="clickFunction()">Customer Details</button></div></li>
              
        
            </ul>
        <br>
        <br>
            
                
          
          
          </nav>
          


 <ul></ul> 
 
    
  
 <div class="container" >
  <table class="table">
    <tbody>
      
           <td *ngFor="let user of users">{{user.first_name}}&nbsp;<br>{{user.email}}
            <br><br> <img src="{{user.avatar}}"></td>&nbsp;
        
        
      
    </tbody>
  </table>
</div>
   


<style>
  *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


body{
  
  font-family: 'Times New Roman', Times, serif;
}


</style>

</body>
</html>



